<html>
<head></head>
<body>
<h1>Demande de contact</h1>
<p>Bonjour {{ nom }}, <br/>Vous nous avais contacter à propos de cette article : {{ titre }}<br/><br/>
Voici votre message :<br/></p>
<p>
    {{ message }}
</p>
<p>Nous vous recontacterons prochainement</p>
<p>Cordialament</p>
</body>
</html>