<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}CESI BLOG{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/pepper-grinder/jquery-ui.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {% block css %}{% endblock %}

<body>

<nav class="navbar sticky-top nav-pills navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="/">Blog du CESI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <!--<div class="row">-->

        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rubriques
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% set articlenbre = ["Exemple 1", "Exemple 2", "Exemple 3"] %}
                    {% for article in articlenbre %}
                    <a class="dropdown-item text-secondary" href="/">{{ article|e }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item col-6">
                <a class="nav-link" href="/Article/Add">Tout les Articles</a>
            </li>

            <li class="nav-item col-11"></li>
            <li class="nav-item col-6"></li>

            {% set connected = 0 %}
            {% if connected == 1 %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ User.nom }} 
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item text-success" href="/">Panel Administrateur</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="/logout">Déconnexion</a>
                    </div>
                </li>
            {% endif %}

            {% if connected == 0 %}
                <li class="nav-item col-2">
                  <a type="button" class="btn btn-light btn-sm" href="/Login">Connexion</a>
                </li>

                <li class="nav-item col-3">
                  <a type="button" class="btn btn-secondary btn-sm" href="/Inscription">S'inscrire</a>
                </li>
            {% endif %}
        </ul>

    </div>

</nav>





{% block body %}
{% endblock %}


{% block footer %}
 
<footer class="page-footer font-small pt-4 footer">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!-- Form -->
        <form class="form-inline" method="post" action="/Article/Search/">
            <input class="form-control mr-sm-2" type="search" placeholder="Rechercher un article" name="search" >
            <input type="submit" class="btn btn-outline-light my-2 my-sm-0" value="Rechercher" name="searchSubmit">
        </form>
        <!-- Form -->

      </div>
      <!--Grid column-->


    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> BlogCesi.fr</a>
  </div>
  <!-- Copyright -->

</footer>

<style>
html{
    overflow-x: hidden;
}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: linear-gradient(-45deg, #343a40, #343a40);
    color: #b9b9b9;
  
}
</style>
{% endblock %}


<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/i18n/jquery-ui-i18n.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
{% block javascript %}{% endblock %}
</body>
</html>
