{% extends "index.html.twig" %}

{% block title %}{{ parent() }} - Inscription {% endblock %}




{% block body %}

        {% if inscrit == 0 %}
        <div class="alert alert-danger text-center" role="alert">
                Erreur lors de l'inscription
        </div>
        {% endif %}

        <form id="register-form" class="form" action="" method="POST">
                <br>
                <h1 class="text-center">inscription</h1>
                <br>

        	<div class="text-center">
                    <label for="nom">Nom</label>
                    <input name="nom" class="input-huge" type="text">
                    
                    <label for="prenom">Prénom</label>
                    <input name="prenom" class="input-huge" type="text">   
                     
                    <label for="email">Email</label>
                    <input name="email" class="input-huge" type="email">

                    <label for="pass">Mot de passe</label>
                    <input name="pass" class="input-huge" type="password">
            	</div>

                <div class="g-recaptcha" data-sitekey="6LeDttUUAAAAAEFwEIe13cCVcZQjXM8DPDq7hTEI"></div>
        	<div>
                    <button type="submit"  name="submit" class="btn btn-success">Enregistrer</button>
        	</div>
                
        </form>
  
        <br><br><br><br><br><br><br><br><br>

{% endblock %}