{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Inscription {% endblock %}
{% block body %}

<form id="register-form" class="form" action="" method="POST">
            <legend>inscription</legend>
                    <hr>
        	<div class="body">
                    
                    <label for="name">Nom</label>
                    <input name="nom" class="input-huge" type="text">
                    
                    <label for="surname">Prénom</label>
                    <input name="prenom" class="input-huge" type="text">   
                     
                    <label for="surname">Email</label>
                    <input name="email" class="input-huge" type="text">

                    <label for="surname">Mot de passe</label>
                    <input name="tel" class="input-huge" type="text">
            	</div>
 
        	<div class="footer">
                    <button type="submit"  name="submit" class="btn btn-success">Enregistrer</button>
        	</div>
                <div class="g-recaptcha" data-sitekey="6LeDttUUAAAAAEFwEIe13cCVcZQjXM8DPDq7hTEI"></div>
        </form>
  

{% endblock %}