{% extends "index.html.twig" %}
{% block title %}{{ parent() }} - Inscription {% endblock %}
{% block body %}

<form id="register-form" class="form" action="../controller/addClass.php" method="POST">
            <legend>inscription</legend>
                    <hr>
        	<div class="body">
                    
                    <label for="name">NOM</label>
                    <input name="nom" class="input-huge" type="text">
                    
                    <label for="surname">PRENOM</label>
                    <input name="prenom" class="input-huge" type="text">
                   
                    <label for="surname">DATE NAISSANCE</label>
                    <input name="date_naissance" class="input-huge" type="text">
                    
                    <label for="surname">CODE POSTALE</label>
                    <input name="code_postal" class="input-huge" type="text">
                    
                    <label for="surname">ADRESSE</label>
                    <input name="adresse" class="input-huge" type="text">
                    
                    <label for="surname">VILLE</label>
                    <input name="ville" class="input-huge" type="text">
                    
                    <label for="surname">PAYS</label>
                    <input name="pays" class="input-huge" type="text">
                    
                    <label for="surname">TELEPHONE</label>
                    <input name="tel" class="input-huge" type="text">
 
                    <label for="surname">EMAIL</label>
                    <input name="email" class="input-huge" type="text">
            	</div>
 
        	<div class="footer">
                    <button type="submit"  name="submit" class="btn btn-success">Enregistrer</button>
        	</div>
        </form>
  

{% endblock %}